<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript"
src="./angular.min.js"></script>
<title>Angular Expression</title>
</head>
<body style="background-color: rgb(145, 60, 119);">
<div ng-app="" style="text-align: center;padding-top: 10%;">
<h1>Basic Calculations</h1>
1st Number:<input type="number" ng-model="num1">&nbsp;
2nd Number:<input type="number" ng-model="num2">
<p>Addition : {{num1+num2}}</p>
<p>Substraction : {{num1-num2}}</p>
<p>Multiplication : {{num1*num2}}</p>
<p>Division : {{num1/num2}}</p>

</div>
</body>
</html>
